In [1]:
from utils import *

import warnings

warnings.filterwarnings("ignore", message="Used element '.' for Atom")

In [2]:
data = pd.read_csv('../data/cath_w_seqs_share.csv', index_col=0)
data['cath_indices'] = data['cath_indices'].apply(safe_eval) # Convert `cath_indices` from str to list of tuples

# Map architecture IDs to names and labels
architecture_names = {
    (1, 10): {"name": "Mainly Alpha: Orthogonal Bundle", "label": 0},
    (1, 20): {"name": "Mainly Alpha: Up-down Bundle", "label": 1},
    (2, 30): {"name": "Mainly Beta: Roll", "label": 2},
    (2, 40): {"name": "Mainly Beta: Beta Barrel", "label": 3},
    (2, 60): {"name": "Mainly Beta: Sandwich", "label": 4},
    (3, 10): {"name": "Alpha Beta: Roll", "label": 5},
    (3, 20): {"name": "Alpha Beta: Alpha-Beta Barrel", "label": 6},
    (3, 30): {"name": "Alpha Beta: 2-Layer Sandwich", "label": 7},
    (3, 40): {"name": "Alpha Beta: 3-Layer(aba) Sandwich", "label": 8},
    (3, 90): {"name": "Alpha Beta: Alpha-Beta Complex", "label": 9}
}

# Create 'architecture_id' and 'label' columns directly from architecture_names
data['architecture_id'] = data.apply(lambda row: (row['class'], row['architecture']), axis=1)
data['label'] = data.apply(lambda row: architecture_names[(row['class'], row['architecture'])]['label'], axis=1)


data.head(10)

,cath_id,class,architecture,topology,superfamily,resolution_in_angstroms,pdb_id,sequences,cath_indices,architecture_id,label
0,2w3sB01,3,90,1170,50,2.60,2w3s,SVGKPLPHDSARAHVTGQARYLDDLPCPANTLHLAFGLSTEASAAI...,"[(2, 124)]","(3, 90)",9
1,3be3A00,2,30,30,320,2.04,3be3,QDFRPGVYRHYKGDHYLALGLARADETDEVVVVYTRLYARAGLPST...,"[(6, 81)]","(2, 30)",2
2,3zq4C03,3,10,20,580,3.00,3zq4,DIGNIVLRDRRILSEEGLVIVVVSIDMDDFKISAGPDLISRGFVIN...,"[(449, 555)]","(3, 10)",5
3,1peqA03,1,10,1650,20,2.80,1peq,DITFRLAKENAQMALFSPYDIQRRYGKPFGDIAISERYDELIADPH...,"[(294, 346)]","(1, 10)",0
4,1bdoA00,2,40,50,100,1.80,1bdo,EISGHIVRSPMVGTFYRTPSPDAKAFIEVGQKVNVGDTLCIVEAMK...,"[(77, 156)]","(2, 40)",3
5,3r0hG01,2,30,42,10,2.60,3r0h,TAEIKPNKKILIELKVEKKPMGVIVCGGKNNHVTTGCVITHVYPEG...,"[(479, 579)]","(2, 30)",2
6,1aqcA00,2,30,29,30,2.30,1aqc,EDLIDGIIFAANYLGSTQLLSDKTPSKNVRQAQEAVSRIKAQKLTE...,"[(324, 488)]","(2, 30)",2
7,2gnxA01,1,10,3450,30,2.45,2gnx,NaN,"[(101, 295), (431, 440)]","(1, 10)",0
8,6hjfA02,3,10,310,10,1.70,6hjf,VPSFLYQQDVVVVLPKPYGEVRVDIAFGGNFFAIVPAEQLGIDISV...,"[(189, 367)]","(3, 10)",5
9,1o1zA00,3,20,20,190,1.60,1o1z,HHHHVIVLGHRGYSAKYLENTLEAFMKAIEAGANGVELDVRLSKDG...,"[(-3, 222)]","(3, 20)",6

In [ ]:
# def safe_len(x):
#     if isinstance(x, (list, tuple)):
#         return len(x)
#     return 0  # or you might want to return a different value for non-list/tuple entries

# subset_df = data[data['cath_indices'].apply(safe_len) > 1]
# subset_df

In [ ]:
# # PDB: 4adi
# # cath_id: 4adiA01
# # iloc: 33
# # cath_indices: [(2, 30), (164, 198), (319, 331)]
# uniprot_seq = 'MASTTPITMEDLQKALEAQSRALRAGLAAGASQSRRPRPPRQRDSSTSGDDSGRDSGGPRRRRGNRGRGQRKDWSRAPPPPEERQESRSQTPAPKPSRAPPQQPQPPRMQTGRGGSAPRPELGPPTNPFQAAVARGLRPPLHDPDTEAPTEACVTSWLWSEGEGAVFYRVDLHFTNLGTPPLDEDGRWDPALMYNPCGPEPPAHVVRAYNQPAGDVRGVWGKGERTYAEQDFRVGGTRWHRLLRMPVRGLDGDTAPLPPHTTERIETRSARHPWRIRFGAPQAFLAGLLLAAVAVGTARAGLQPRADMAAPPMPPQPPRAHGQHYGHHHHQLPFLGHDGHHGGTLRVGQHHRNASDVLPGHWLQGGWGCYNLSDWHQGTHVCHTKHMDFWCVEHDRPPPATPTSLTTAANSTTAATPATAPPPCHAGLNDSCGGFLSGCGPMRLRHGADTRCGRLICGLSTTAQYPPTRFGCAMRWGLPPWELVVLTARPEDGWTCRGVPAHPGTRCPELVSPMGRATCSPASALWLATANALSLDHAFAAFVLLVPWVLIFMVCRRACRRRGAAAALTAVVLQGYNPPAYGEEAFTYLCTAPGCATQTPVPVRLAGVRFESKIVDGGCFAPWDLEATGACICEIPTDVSCEGLGAWVPTAPCARIWNGTQRACTFWAVNAYSSGGYAQLASYFNPGGSYYKQYHPTACEVEPAFGHSDAACWGFPTDTVMSVFALASYVQHPHKTVRVKFHTETRTVWQLSVAGVSCNVTTEHPFCNTPHGQLEVQVPPDPGDLVEYIMNYTGNQQSRWGLGSPNCHGPDWASPVCQRHSPDCSRLVGATPERPRLRLVDADDPLLRTAPGPGEVWVTPVIGSQARKCGLHIRAGPYGHATVEMPEWIHAHTTSDPWHPPGPLGLKFKTVRPVALPRALAPPRNVRVTGCYQCGTPALVEGLAPGGGNCHLTVNGEDVGAFPPGKFVTAALLNTPPPYQVSCGGESDRASARVIDPAAQSFTGVVYGTHTTAVSETRQTWAEWAAAHWWQLTLGAICALLLAGLLACCAKCLYYLRGAIAPR'
# print(uniprot_seq[1:29])
# print(uniprot_seq[163:197])
# print(uniprot_seq[318:330])

In [ ]:
# data.iloc[33]['sequences']

In [ ]:
# # PDB: 2gnx
# # cath_id: 2gnxA01
# # iloc: 7
# # cath_indices: [(101, 295), (431, 440)]
# seq = 'MGESIPLAAPVPVEQAVLETFFSHLGIFSYDKAKDNVEKEREANKSAGGSWLSLLAALAHLAAAEKVYHSLTYLGQKLGGQSFFSRKDSIRTIYTSLHNELKKVVAGRGAPGGTAPHVEELLPHLSEQLCFFVQARMEIADFYEKMYALSTQKFINTEELVSTLDTILRKYSSRFHHPILSPLESSFQLEVGVLSHLLKAQAQISEWKFLPSLVTLHNAHTKLQSWGQTFEKQRETKKHLFGGQSQKAVQPPHLFLWLMKLKTMLLAKFSFYFHEALSRQTTASEMKALTAKANPDLFGKISSFIRKYDAANVSLIFDNRGSESFQGHGYHHPHSYREAPKGVDQYPAVVSLPSDRPVMHWPNVIMIMTDRASDLNSLEKVVHFYDDKVQSTYFLTRPEPHFTIVVIFESKKSERDSHFISFLNELSLALKNPKVFASLKPGSKG'
# a = seq[100:294]
# b = seq[430:439]
# print(a + b)
# print(len(a+b))

In [ ]:
# cath_indices = data.iloc[7]['cath_indices']
# print(cath_indices)

# Handling Missing Values

In [3]:
# Identify rows with any NaN values
rows_with_nan = data[data.isna().any(axis=1)]
rows_with_nan

,cath_id,class,architecture,topology,superfamily,resolution_in_angstroms,pdb_id,sequences,cath_indices,architecture_id,label
7,2gnxA01,1,10,3450,30,2.45,2gnx,NaN,"[(101, 295), (431, 440)]","(1, 10)",0
178,19hcA01,3,90,10,10,1.80,19hc,CHQSETKERRECAGCHAITTPKDDEAWCATTVAPVSPMLAPYKVVI...,NaN,"(3, 90)",9
2208,2fd4A00,3,30,40,110,1.80,2fd4,KLAALDPIASQFSQLRTISKALGFKDAADDVTHCLFGGELSLSNPD...,NaN,"(3, 30)",7
2827,2xskA00,2,60,40,2420,1.70,2xsk,NaN,"[(3, 97)]","(2, 60)",4
3138,5inwA02,2,30,39,10,2.70,5inw,WGNKFEPDLTKNVRFWVNSSYSMMVPTMHQRAKLSYTQDRKLRSTV...,NaN,"(2, 30)",2
3838,1dkiC01,3,90,70,50,1.60,1dki,FARNEKEAKDSAITFIQKIKLDKVNLGGELSGSNMYVYNISTGGFV...,NaN,"(3, 90)",9
4330,1kskA01,3,10,290,10,2.00,1ksk,GSHRLDKFIAQQLGVSRAIAGREIRGNRVTVDGEIVRNAAFKLLPE...,NaN,"(3, 10)",5
4668,4dgwC00,2,60,40,2690,3.11,4dgw,NaN,"[(101, 253)]","(2, 60)",4
5776,1nthA00,3,20,20,460,1.55,1nth,NaN,"[(2, 458)]","(3, 20)",6
6010,3pieA02,3,30,1370,250,2.90,3pie,NaN,"[(379, 487)]","(3, 30)",7

### CASE 1: Rows that have `sequences` but NaN `cath_indices` can be automatically corrected with residue indices present in the provided pdb files using a call to helper function `extract_resid_ranges()` which considers contiguous ranges

In [4]:
case1 = data[data['sequences'].notna() & data['cath_indices'].isna()]
case1

,cath_id,class,architecture,topology,superfamily,resolution_in_angstroms,pdb_id,sequences,cath_indices,architecture_id,label
178,19hcA01,3,90,10,10,1.8,19hc,CHQSETKERRECAGCHAITTPKDDEAWCATTVAPVSPMLAPYKVVI...,NaN,"(3, 90)",9
2208,2fd4A00,3,30,40,110,1.8,2fd4,KLAALDPIASQFSQLRTISKALGFKDAADDVTHCLFGGELSLSNPD...,NaN,"(3, 30)",7
3138,5inwA02,2,30,39,10,2.7,5inw,WGNKFEPDLTKNVRFWVNSSYSMMVPTMHQRAKLSYTQDRKLRSTV...,NaN,"(2, 30)",2
3838,1dkiC01,3,90,70,50,1.6,1dki,FARNEKEAKDSAITFIQKIKLDKVNLGGELSGSNMYVYNISTGGFV...,NaN,"(3, 90)",9
4330,1kskA01,3,10,290,10,2.0,1ksk,GSHRLDKFIAQQLGVSRAIAGREIRGNRVTVDGEIVRNAAFKLLPE...,NaN,"(3, 10)",5

In [5]:
'''
Define the threshold value for grouping contiguous residue ranges.
Residue ranges are considered contiguous if the difference between consecutive residue IDs
does not exceed this threshold value.
This threshold value directly influences the identification of gaps in the next section, so it is important 
to choose this number carefully.
'''
gap_threshold = 20

# Iterate over case1, apply get_sequence_from_pdb, and update data
for index, row in case1.iterrows():
    # Data accession
    cath_id = row['cath_id']
    pdb_filename = f"../data/pdb_share/{cath_id}"

    # Call provided helper fxn
    cath_indices = extract_resid_ranges(pdb_filename, threshold=gap_threshold)

    # Update the data frame to remove case2 NaN values
    data.at[index, 'cath_indices'] = cath_indices
    print(f"Updated `cath_indices` for cath_id {cath_id}:\n{cath_indices}\n")

Updated `cath_indices` for cath_id 19hcA01:
[(100, 129), (168, 292)]

Updated `cath_indices` for cath_id 2fd4A00:
[(435, 553)]

Updated `cath_indices` for cath_id 5inwA02:
[(251, 348), (408, 416)]

Updated `cath_indices` for cath_id 1dkiC01:
[(1, 112), (154, 253)]

Updated `cath_indices` for cath_id 1kskA01:
[(1, 63)]

### CASE 2: Rows that have `cath_indices` but NaN `sequences` can be automatically corrected with the sequence present in UniProtKB
- Note: Helper function `get_sequence_from_pdb()` does not suffice here because of the prescence of `UNK` resnames in case2 pdb files

In [6]:
case2 = data[data['sequences'].isna() & data['cath_indices'].notna()]
case2

,cath_id,class,architecture,topology,superfamily,resolution_in_angstroms,pdb_id,sequences,cath_indices,architecture_id,label
7,2gnxA01,1,10,3450,30,2.45,2gnx,NaN,"[(101, 295), (431, 440)]","(1, 10)",0
2827,2xskA00,2,60,40,2420,1.70,2xsk,NaN,"[(3, 97)]","(2, 60)",4
4668,4dgwC00,2,60,40,2690,3.11,4dgw,NaN,"[(101, 253)]","(2, 60)",4
5776,1nthA00,3,20,20,460,1.55,1nth,NaN,"[(2, 458)]","(3, 20)",6
6010,3pieA02,3,30,1370,250,2.90,3pie,NaN,"[(379, 487)]","(3, 30)",7

In [7]:
# Iterate over case2, apply get_fasta_sequence_from_uniprot, and update data
for index, row in case2.iterrows():
    try:
        # Data accession
        pdb_code = row['pdb_id']
        cath_indices = row['cath_indices']

        # Web scraping fxn calls
        uniprot_accession = get_uniprot_accession_from_pdb(pdb_code)
        fasta_sequence = get_fasta_sequence_from_uniprot(uniprot_accession)
        
        # Concatenate the indexed fasta sequences if len(cath_indices) > 1
        indexed_sequence = ''.join([fasta_sequence[start-1:end-1] for start, end in cath_indices]) 

        # Update the data frame to remove case2 NaN values
        data.at[index, 'sequences'] = indexed_sequence
        print(f"Updated FASTA sequence for PDB code {pdb_code} (UniProt accession {uniprot_accession}):\n{indexed_sequence}\n")
        
    except Exception as e:
        print(f"Failed to fetch sequence for PDB code {pdb_code}: {str(e)}")

Updated FASTA sequence for PDB code 2gnx (UniProt accession Q6P1I3):
LKKVVAGRGAPGGTAPHVEELLPHLSEQLCFFVQARMEIADFYEKMYALSTQKFINTEELVSTLDTILRKYSSRFHHPILSPLESSFQLEVGVLSHLLKAQAQISEWKFLPSLVTLHNAHTKLQSWGQTFEKQRETKKHLFGGQSQKAVQPPHLFLWLMKLKTMLLAKFSFYFHEALSRQTTASEMKALTAKANKNPKVFASL

Updated FASTA sequence for PDB code 2xsk (UniProt accession B2CY50):
ALLLLAALSSQITFNTTQQGDMYTIIPEVTLTQSCLCRVQILSLREGSSGQSQTKQEKTLSLPANQPIALTKLSLNISPDDRVKIVVTVSDGQS

Updated FASTA sequence for PDB code 4dgw (UniProt accession P19736):
ETQEDDKDLPNFERKLQQLEKELKNEDENFELDINSKKDKYALFSSSSDPSRRTNILSDRARDLDLNEIFTRDEQYGEYMELEQFHSLWLNVIKRGDCSLLQFLDILELFLDDEKYLLTPPMDRKNDRYMAFLLKLSKYVETFFFKSYALLD

Updated FASTA sequence for PDB code 1nth (UniProt accession O30642):
TFRKSFDCYDFYDRAKVGEKCTQDDWDLMKIPMKAMELKQKYGLDFKGEFIPTDKDMMEKLFKAGFEMLLECGIYCTDTHRIVKYTEDEIWDAINNVQKEFVLGTGRDAVNVRKRSVGDKAKPIVQGGPTGSPISEDVFMPVHMSYALEKEVDTIVNGVMTSVRGKSPIPKSPYEVLAAKTETRLIKNACAMAGRPGMGVOGPETSLSAQGNISADCTGGMTCTDSHEVSQLNELKIDLDAISVIAHYKGNSDIIMDEQMPIFGGYAGGIEETTIVDVATHINAVLMSSASWHLDGPVHIRWGSTNTRETLMIAGWACATISEFTDILSGNQYYPCAGPCTEMCLLEASAQSITDTASGREILSGVASAKGVVTDKTTGMEARMMGEVARATAGVEISEVNVILDKLVSLYEKNYASAPAGKTFQECYDVKTVTPTEEYMQVYDGARKKLEDLGLV

Updated FASTA sequence for PDB code 3pie (UniProt accession Q6CJ09):
GKKLLMKQQKKLIGAVKPWLLKTVQRKVTSELQDADFEIFPLEDKELVRANLDFLKEFAFDLGLILAHSKSKDLYYFKLDLDSINVQETDEEHEARIHETRRSIKKYE

# Sequence Data

In [ ]:
# Identify data entries with sequence gaps

In [ ]:
# Add a column to track whether or not a given sequence entry has a gap
data['gap'] = 0 # Initialize as all 0's

for index, row in data.iterrows():
    cath_indices = row['cath_indices'] # grab the indices
    print(row['sequences'])
    print()
    # Open the PDB file

In [ ]:
# Load complete sequences from UniProt

In [ ]:
# Edit gap sequences in the main data

# Structure Data

In [ ]:
# Obtain and Store PDB files for non-gap sequences

In [ ]:
# Obtain PDB files for gap sequences

In [ ]:
# Remodel using SCWRL4 and Store

# Graph Database

In [ ]:
# Create NetworkX graphical representations of stored PDB files